.root{
    -fx-background-color: #29292D;
}
.button {
    -fx-font-size: 20;
    -fx-text-fill: #ffffff;
}
.label {
    -fx-text-fill: #ffffff;
    -fx-font-size: 36;
}
.scores-label {
    -fx-text-fill: #ffffff;
    -fx-font-size: 20;
}
.text-input {
    -fx-text-fill: #ffffff;
    -fx-prompt-text-fill: #ffffff;
}
.jfx-text-field {
    -jfx-unfocus-color: #ffffff;
}



