.root * {
    -fx-text-fill: white;
}

.glyph-icon {
    -fx-fill: white;
    -fx-size: 26;
}

.pane, .root {
    -fx-background-color: #29292D;
    -fx-alignment: center;
}

.button, .jfx-button {
    -fx-alignment: center;
}

.label {
    -fx-font-style: italic;
}