.root {
    -fx-background-color: #dfe3ee;
}
.label {
    -fx-text-fill: #000000;
}
.button {
    -fx-text-fill: #000000;
}
.text-input {
    -fx-text-fill: #000000;
    -fx-prompt-text-fill: #000000;
}
.jfx-text-field {
    -jfx-unfocus-color: #000000;
}
.check-box .box {
    -fx-background-color: #f7f7f7;
}

